<div class="dashboard">
    <h1 class="container-title">Document Dashboard</h1>
    <div class="container-card card">
        <h2>Summary</h2>

        <div class="dashboard-cards-row">
            <div class="card program">
                <a routerLink="/program">
                    <h3>12</h3>
                    <span>Total Programs</span>
                </a>
            </div>
            <div class="card document">
                <a routerLink="/document-list">
                    <h3>50</h3>
                    <span>Total Documents</span>
                </a>
            </div>
            <div class="card review">
                <a routerLink="/document-list">
                    <h3>40</h3>
                    <span>Total Reviewed Documents</span>
                </a>
            </div>
            <div class="card unreview">
                <a routerLink="/document-list">
                    <h3>10</h3>
                    <span>Total Un-Reviewed Documents</span>
                </a>
            </div>
        </div>

        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8"  matSort #empTbSort="matSort">

            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->
                  displayedColumns: string[] = ['program', 'totalDocument', 'reviewedDocument', 'unreviewedDocument', 'details'];
            <!-- Position Column -->
            <ng-container matColumnDef="program">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Program </th>
              <td mat-cell *matCellDef="let element"> <a routerLink="/program">{{element.program}}</a> </td>
            </ng-container>
          
            <!-- Name Column -->
            <ng-container matColumnDef="totalDocument">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>  Total Documents </th>
              <td mat-cell *matCellDef="let element"> {{element.totalDocument}} </td>
            </ng-container>
          
            <!-- Weight Column -->
            <ng-container matColumnDef="reviewedDocument">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Reviewed Documents </th>
              <td mat-cell *matCellDef="let element"> {{element.reviewedDocument}} </td>
            </ng-container>
          
            <!-- Symbol Column -->
            <ng-container matColumnDef="unreviewedDocument">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Un-Reviewed Documents </th>
              <td mat-cell *matCellDef="let element">  <a routerLink="/document-list">{{element.unreviewedDocument}}</a> </td>
            </ng-container>

            <ng-container matColumnDef="details">
                <th mat-header-cell *matHeaderCellDef> Action </th>
                <td mat-cell *matCellDef="let element"> <a routerLink="/document-list"><button class="table-action-btn">Details</button></a> </td>
              </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>

        <!-- <table>
            <thead>
                <tr>
                    <th>
                        Program
                    </th>
                    <th>
                        Total Documents
                    </th>
                    <th>
                        Reviewed Documents
                    </th>
                    <th>
                        Un-Reviewed Documents
                    </th>
                    <th>
                        Action
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <a routerLink="/program">Program A</a>
                    </td>
                    <td>
                        30
                    </td>
                    <td>
                        25
                    </td>
                    <td>
                        <a routerLink="/document-list">5</a>
                    </td>
                    <td>
                        <a routerLink="/document-list"><button class="table-action-btn">Details</button></a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a routerLink="/program">Program A</a>
                    </td>
                    <td>
                        20
                    </td>
                    <td>
                        15
                    </td>
                    <td>
                        <a routerLink="/document-list">5</a>
                    </td>
                    <td>
                        <button class="table-action-btn">Details</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a routerLink="/program">Program A</a>
                    </td>
                    <td>
                        0
                    </td>
                    <td>
                        0
                    </td>
                    <td>
                        0
                    </td>
                    <td>
                        <button class="table-action-btn">Details</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a routerLink="[/]">Program A</a>
                    </td>
                    <td>
                        0
                    </td>
                    <td>
                        0
                    </td>
                    <td>
                        0
                    </td>
                    <td>
                        <button class="table-action-btn">Details</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a routerLink="[/]">Program A</a>
                    </td>
                    <td>
                        0
                    </td>
                    <td>
                        0
                    </td>
                    <td>
                        0
                    </td>
                    <td>
                        <button class="table-action-btn">Details</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a routerLink="[/]">Program A</a>
                    </td>
                    <td>
                        0
                    </td>
                    <td>
                        0
                    </td>
                    <td>
                        0
                    </td>
                    <td>
                        <button class="table-action-btn">Details</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a routerLink="[/]">Program A</a>
                    </td>
                    <td>
                        0
                    </td>
                    <td>
                        0
                    </td>
                    <td>
                        0
                    </td>
                    <td>
                        <button class="table-action-btn">Details</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a routerLink="[/]">Program A</a>
                    </td>
                    <td>
                        0
                    </td>
                    <td>
                        0
                    </td>
                    <td>
                        0
                    </td>
                    <td>
                        <button class="table-action-btn">Details</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a routerLink="[/]">Program A</a>
                    </td>
                    <td>
                        0
                    </td>
                    <td>
                        0
                    </td>
                    <td>
                        0
                    </td>
                    <td>
                        <button class="table-action-btn">Details</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a routerLink="[/]">Program A</a>
                    </td>
                    <td>
                        0
                    </td>
                    <td>
                        0
                    </td>
                    <td>
                        0
                    </td>
                    <td>
                        <button class="table-action-btn">Details</button>
                    </td>
                </tr>
                
            </tbody>
        </table> -->
    </div>
</div>
