.select ul li.option {
    width:300px;
    background: $white;
    border: 1px solid #C0C0C0;
    border-radius: 4px;
    // box-shadow: 0px 1px 0 #006577, 0px -1px 0 #006577;
    // -webkit-box-shadow: 0px 1px 0 #006577, 0px -1px 0 #006577;
    // -moz-box-shadow: 0px 1px 0 #006577, 0px -1px 0 #006577;
}
.select ul li.option:hover {
    background-color: #e9e8e8;
}
.select ul li.option {
    z-index:1;
    padding:5px;
    display:none;
    height: 31px;
    line-height: 30px;
    position: relative;
    font-weight: 700;
    font-size: 14px;
    padding-left: 20px;
}
.select ul li {
    cursor:default;
    list-style:none;
}
.dafault     {
    &::after{
        content: "";
        background-image: url(../assets/icons/arrow-icon.svg);
        background-repeat: no-repeat;
        width: 12px;
        height: 7px;
        position: absolute;
        right: 10px;
        top: 18px;
        transform: rotate(180deg);
    }
}

.active-select{
    z-index: 9999 !important;
}

.select {
    position: relative;
    min-height: 80px;

    ul{
        position: absolute;
        border: 1px solid #C0C0C0;
        border-radius: 4px;

        li.option{
            color: #7D7D7D;
            font-size: 14px;
            font-weight: 500;
            height: 18px;
            line-height: 18px;
            border: 0px;
        }
    }
}

.select ul li.dafault {
    display: block;
    height: 40px !important;
    border: 1px solid #C0C0C0 !important;
    border-radius: 0;
    line-height: 41px !important;
    padding-left: 20px;
    color: #464646;
    font-weight: 700;
    background-color: #e9e8e8;
}