table{
    border-spacing: 0px;
    width: 100%;

    thead{
        background-color: $gray-3 !important;

        th{
            font-weight: 500;
            font-size: 14px;
            line-height: 24px;
            border: 0px !important;
            padding: 13px 0px 13px 13px !important;
            text-align: left;
            white-space: nowrap;
        }
    }

    tbody{
        td{
            font-weight: 500;
            font-size: 14px;
            line-height: 24px;
            border-bottom: 2px solid $gray-4;
            padding: 13px 0px 13px 13px !important;
            white-space: nowrap;

            a{
                color: $black;
            }
        }

        tr{
            &:hover{
                td{
                    font-weight: 700;

                    a{
                        color: $blue;
                    }

                    .table-action-btn{
                        background-color: $light-blue;
                    }
                }
            }
        }
    }
}

.w-20{
    width: 20%;
}

::ng-deep .mat-sort-header-arrow[style] {
    // Hide default arrow stem
    .mat-sort-header-stem {
      display: none;
    }
    .mat-sort-header-indicator {
      opacity: 1;
      color: black;
      font-weight: bold;
  
      // Hide default arrow as its composed of left, right and middle
      .mat-sort-header-pointer-left,
      .mat-sort-header-pointer-right,
      .mat-sort-header-pointer-middle {
        display: none;
      }
    }
  }
  
  // My custom ascending arrow
  th[aria-sort='ascending'] {
        &::before {
        //   content: '\25B4';
          top: -0em;
          position: absolute;
          color: #004e87;
          font-size: 20px;
          line-height: 10px;
          width: 20px;
          height: 20px;
        //   background-color: #004e87;
            background-image: url('../assets/icons/arrow-icon.svg');
            background-repeat: no-repeat;
            top: 13px;
            content: "";
            opacity: 0.3;
            transform: rotate(180deg);
            right: 0px;
        }
  }
  
  // My custom descending arrow
  th[aria-sort='descending'] {
        &::before {
        //   content: '\25BE';
          top: -15px;
          position: absolute;
          color: #004e87;
          font-size: 20px;
          width: 20px;
          height: 20px;
          background-image: url('../assets/icons/arrow-icon.svg');
            background-repeat: no-repeat;
            right: -8px;
            top: 24px;
            content: "";
            opacity: .3;
        }
  }

  .mdc-data-table__header-cell{
    position: relative;
  }

  .document-list{
    th{
        font-size: 14px;
    }
  }