<header id="header">
    <div class="paynela-logo">
        <a routerLink="/login"><img src="assets/logo/paynela-logo.svg" alt="Paynela" /></a>
    </div>
    <a routerLink="/login" class="sign-in">Sign In</a>
    <div class="header-user-info">
        <div class="user-notification"><img src="assets/icons/user-notification.svg" alt="user-notification"></div>
        <div class="user-message"> <img src="assets/icons/user-msg-icon.svg" alt="user-message"></div>
        <div class="user-profile">
            <h3 class="user-name">
                Thomas Anree
                <span class="user-role">Service Rep</span>
            </h3>
            
            <div class="my-profile">
                <img src="assets/images/profile-pic.png" alt="profile-pic" />
            </div>
        </div>
    </div>
</header>